{% extends 'base.html' %} {% block content %}
<form method="POST" action="#">
  {% csrf_token %}
  <div class="row">
    <div class="col-12 col-lg-8">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Created At</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for shopping_list in shopping_lists %}
          <tr>
            <th scope="row">{{shopping_list.id}}</th>
            <td><a href="{{shopping_list.id}}">{{shopping_list.title}}</a></td>
            <td>{{shopping_list.created_at}}</td>
            <td>
              <button class="btn btn-danger ml-2" type="submit" name="delete" value="{{shopping_list.id}}">Delete</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-4">
        <div class="mb-2">
          <label class="form-label">Reciepe</label>
          <input type="text" class="form-control" name="reciepe">
        </div>
        <button type="submit" class="btn btn-primary" name="reciepe_add" value="reciepe_add">Create Item</button>
      </div>
    </div>
  </div>
</form>
{% endblock content %}
